body {
    /* background-image: url("https://media.istockphoto.com/id/1738798304/photo/rainbow-pride-flag-on-wood-background.jpg?b=1&s=612x612&w=0&k=20&c=JsE5vgWEmJp76w_tIkuxKOZk6Qj94ss5RoEewfZEnig="); */
    background-image: url("yarn.jpeg");    
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    height: 100vh;
    /* width: 95vw; */
}

.container {
    background: white;
    max-width: 75%;
    margin: auto;
    padding: 0.5rem;
    border-radius: 5%;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: darkslategray;
}

#save-btn {
    background: darkgreen;
}

